<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio DavEsp</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="./src/style.css" />
        <script is:inline>
            function toggleMenu() {
                const sidebar = document.getElementById("sidebar");
                if (sidebar.style.width === "250px") {
                    sidebar.style.width = "0";
                } else {
                    sidebar.style.width = "250px";
                }
            }

            document.addEventListener("keydown", function (event) {
                if (event.ctrlKey && event.key === "v") {
                    // Por ejemplo, Ctrl + E
                    document.getElementById("easter-egg").style.display =
                        "block";
                }
            });
        </script>
        <style>
            #easter-egg {
                display: none; /* Ocultamos la imagen por defecto */
                width: 600px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 2px solid black;
            }

            @font-face {
                font-family: Nunito;
                src: url(../../font/Nunito/Nunito-VariableFont_wght.ttf);
            }
        </style>
    </head>

    <body
        class="bg-white dark:bg-black bg-contain bg-no-repeat bg-center bg-fixed backdrop-blur-sm font-[Nunito] dark:text-white"
    >
        <img
            class="rounded-full"
            id="easter-egg"
            src="./src/img/perrotes.gif"
            alt="Easter Egg"
        />

        <!-- Bot贸n del men煤 -->
        <div
            class="top-5 left-5 fixed bg-gray-800 hover:bg-gray-900 px-3 py-2 rounded-full text-white cursor-pointer"
            onclick="toggleMenu()"
        >
            &#9776; <!-- Icono del men煤 -->
        </div>

        <!-- Barra lateral -->
        <div
            id="sidebar"
            class="top-0 left-0 z-50 fixed bg-black shadow-lg pt-16 w-0 h-full text-white transition-all duration-500 overflow-x-hidden ease-in-out"
        >
            <!--Boton de cerrar barra lateral-->
            <a
                href="javascript:void(0)"
                class="top-5 right-5 absolute text-4xl cursor-pointer close-btn"
                onclick="toggleMenu()">&times;</a
            >

            <div class="block px-8 py-4 text-lg">
                <a href="">About</a>
            </div>
            <div class="block px-8 py-4 text-lg">
                <a href="">Skills</a>
            </div>
            <div class="block px-8 py-4 text-lg">
                <a href="">Projects</a>
            </div>
            <div class="block px-8 py-4 text-lg">
                <a href="">Contact</a>
            </div>
        </div>

        <div class="mx-6">
            <!--Secci贸n introducci贸n del portfolio-->
            <section class="flex justify-center items-center md:px-60 h-screen">
                <div class="flex flex-col-reverse md:grid md:grid-cols-2">
                    <!-- Texto introducci贸n -->
                    <div class="flex flex-col justify-center gap-6 px-5 p-4">
                        <h1 class="font-bold text-3xl md:text-5xl">
                            隆Bienvenido! 
                            <p class="md:mt-3">
                                Soy <span class="text-purple-500"
                                    >David Espet贸n</span>
                            </p>
                        </h1>
                        <p class="mt-4 text-gray-400 text-xl">
                            Soy un desarrollador fullstack de Espa帽a, y este es
                            mi portfolio web. Gracias por visitarlo y espero
                            disfrutes viendolo. \(@^0^@)/
                        </p>
                        <a
                            href="./cv/CV.pdf"
                            download
                            class="flex justify-center bg-purple-500 hover:bg-purple-700 px-2 py-2 rounded-full max-w-20 text-center text-white transition-colors duration-300"
                        >
                            CV
                        </a>
                    </div>
                    <!--imagen introducci贸n -->
                    <div
                        class="flex justify-center md:justify-end items-center mt-20 md:mt-0 mb-8"
                    >
                        <img
                            class="rounded-full size-40 md:size-96"
                            src="./src/img/chosete.jpg"
                        />
                    </div>
                </div>
            </section>

            <!--Secci贸n about me del portfolio-->
            <section class="flex justify-center items-center md:px-60 h-screen">
                <div class="grid">
                    <div class="flex flex-col md:grid md:grid-cols-3">
                        <!--Imagen about me -->
                        <div
                            class="flex justify-center md:justify-start items-center bg-red-500"
                        >
                            <img
                                src="./src/img/gatomago.jpg"
                                class="size-80 md:size-96"
                            />
                        </div>
                        <!--Texto about me -->
                        <div
                            class="flex flex-col justify-center md:col-span-2 px-5 p-4"
                        >
                            <p class="flex justify-center md:justify-start font-bold text-3xl md:text-5xl">
                                Sobre <span class="text-purple-500">M铆</span>
                            </p>
                            <p class="mt-4 text-gray-400 text-xl">
                                隆Saludos! Me llamo <span class="text-purple-500"
                                    >David Espet贸n</span
                                >, soy un programador que actualmente esta
                                cursando el grado superior de desarrollado de
                                aplicaciones multiplataforma (DAM). Por el
                                momento tengo conociemientos tanto de front-end
                                como de back-end, adem谩s cuento con experiencia
                                en tecnolog铆as como <span
                                    class="text-purple-500">HTML, CSS</span
                                > y <span class="text-purple-500"
                                    >JavasScript</span
                                >. Actualmente estoy mejorando mis habilidades
                                en el front-end, aprendiendo y utilizando nuevas
                                herramientas como <span class="text-purple-500">
                                    TailWind CSS</span
                                > y <span class="text-purple-500">Astro</span>,
                                con las cuales puedo hacer webs m谩s interactivas
                                y din谩micas para los usuarios.
                            </p>
                        </div>
                    </div>
                    <!--Apartado de habilidades -->
                    <div
                        class="flex flex-col justify-center items-center bg-blue-500 mt-8"
                    >
                        <div class="flex justify-items-center bg-red-500">
                            <p class="font-bold text-4xl">Skills</p>
                        </div>
                        <div class="flex bg-green-500 mt-8">
                            <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
                            <!-- Created with Inkscape (http://www.inkscape.org/) -->
                            <svg
                                width="40mm"
                                height="40mm"
                                viewBox="0 0 362.73401 511.99998"
                                id="svg3476"
                                version="1.1"
                            >
                                <defs id="defs3478"></defs>
                                <sodipodi:namedview
                                    id="base"
                                    pagecolor="#ffffff"
                                    bordercolor="#666666"
                                    borderopacity="1.0"
                                    inkscape:pageopacity="0.0"
                                    inkscape:pageshadow="2"
                                    inkscape:zoom="0.35"
                                    inkscape:cx="181.367"
                                    inkscape:cy="256"
                                    inkscape:document-units="px"
                                    inkscape:current-layer="layer1"
                                    showgrid="false"
                                    fit-margin-top="0"
                                    fit-margin-left="0"
                                    fit-margin-right="0"
                                    fit-margin-bottom="0"
                                    inkscape:window-width="1366"
                                    inkscape:window-height="704"
                                    inkscape:window-x="0"
                                    inkscape:window-y="27"
                                    inkscape:window-maximized="1"
                                ></sodipodi:namedview>
                                <metadata id="metadata3481">
                                    <rdf:RDF>
                                        <cc:Work rdf:about="">
                                            <dc:format>image/svg+xml</dc:format>
                                            <dc:type
                                                rdf:resource="http://purl.org/dc/dcmitype/StillImage"
                                            ></dc:type>
                                            <dc:title></dc:title>
                                        </cc:Work>
                                    </rdf:RDF>
                                </metadata>
                                <g
                                    inkscape:label="Calque 1"
                                    inkscape:groupmode="layer"
                                    id="layer1"
                                    transform="translate(-193.633,-276.3622)"
                                >
                                    <g
                                        id="g3013"
                                        transform="translate(119,276.3622)"
                                    >
                                        <polygon
                                            id="polygon2989"
                                            points="437.367,100.62 404.321,470.819 255.778,512 107.644,470.877 74.633,100.62 "
                                            style="fill:#264de4"></polygon>
                                        <polygon
                                            id="polygon2991"
                                            points="376.03,447.246 404.27,130.894 256,130.894 256,480.523 "
                                            style="fill:#2965f1"></polygon>
                                        <polygon
                                            id="polygon2993"
                                            points="150.31,268.217 154.38,313.627 256,313.627 256,268.217 "
                                            style="fill:#ebebeb"></polygon>
                                        <polygon
                                            id="polygon2995"
                                            points="256,176.305 255.843,176.305 142.132,176.305 146.26,221.716 256,221.716 "
                                            style="fill:#ebebeb"></polygon>
                                        <polygon
                                            id="polygon2997"
                                            points="256,433.399 256,386.153 255.801,386.206 205.227,372.55 201.994,336.333 177.419,336.333 156.409,336.333 162.771,407.634 255.791,433.457 "
                                            style="fill:#ebebeb"></polygon>
                                        <path
                                            id="path2999"
                                            d="m 160,0 55,0 0,23 -32,0 0,23 32,0 0,23 -55,0 z"
                                            inkscape:connector-curvature="0"
                                        ></path>
                                        <path
                                            id="path3001"
                                            d="m 226,0 55,0 0,20 -32,0 0,4 32,0 0,46 -55,0 0,-21 32,0 0,-4 -32,0 z"
                                            inkscape:connector-curvature="0"
                                        ></path>
                                        <path
                                            id="path3003"
                                            d="m 292,0 55,0 0,20 -32,0 0,4 32,0 0,46 -55,0 0,-21 32,0 0,-4 -32,0 z"
                                            inkscape:connector-curvature="0"
                                        ></path>
                                        <polygon
                                            id="polygon3005"
                                            points="311.761,313.627 306.49,372.521 255.843,386.191 255.843,433.435 348.937,407.634 349.62,399.962 360.291,280.411 361.399,268.217 369.597,176.305 255.843,176.305 255.843,221.716 319.831,221.716 315.699,268.217 255.843,268.217 255.843,313.627 "
                                            style="fill:#ffffff"></polygon>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </section>
            <!--Secci贸n proyectos del porfolio -->
            <!--
            <section
                class="flex justify-center items-center md:px-60 h-screen"
            >   
                <div class="flex flex-col">
                    <div class="flex justify-center items-center bg-orange-500 mb-6 font-bold text-4xl">
                        <p>MY PROJECTS</p>
                    </div>
                    
                    <div class="flex gap-10 [&_img]:w-80 [&_img]:h-80">
                        <img src="./src/img/gatomago.jpg" alt="">
                        <img src="./src/img/gatomago.jpg" alt="">
                        <img src="./src/img/gatomago.jpg" alt="">
                        <img src="./src/img/gatomago.jpg" alt="">
                    </div>
                </div>
            </section>
            -->
            <!--Secci贸n de contacto del portfolio -->
            <section class="flex justify-center items-center md:px-60 h-screen">
                <p class="text-8xl">AQUI VA LA PARTE DE CONTACTO</p>
            </section>
        </div>
    </body>
</html>
